<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Earth Smasher is offline-first; remove Unity default INTERNET permission. -->
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
</manifest>
